.price-per-day {
  background-color: #575757;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.booking-button {
  background-color: #f05623;
  border-color: #f05623;
  font-size: 16px;
  border-radius: 3px;
  white-space: initial;
  height: 43px;
  line-height: 30px;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid #7c2508;
  color: white;
}

.booking-button:hover {
  color: white;
  background-color: #f05623;
  opacity: 0.9;
}

.book-your-trip-section {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
}

.camping-car-details {
  margin-top: 50px;
  h2 {
    font-size: 22px;
    color: #444;
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7aafb7;
    margin-top: 40px;
  }
}

.camping-car-description {
  background: white;
  h3 {
    font-weight: 700;
    margin: 0;
    padding: 10px 5px;
    font-size: 26px;
  }
  h4 {
    font-weight: 400;
    margin: 0;
    padding: 5px 5px 20px 5px;
    font-size: 16px;
  }
}

.small-padding {
  padding: 30px 0px;
}

.reviewStars_starActive {
  color: #EFAD1D;
}

.reviewStars_starNotActive {
  color: #AAAAAA;
}

.actions {
  padding: 30px;
}

.fixed {
  position: fixed;
}

.padding-picture {
  padding: 20px;
  width: 100px;
  border-radius: 50%;
  border: white 1px solid;
}
