.price-per-day {
  background-color: #575757;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.booking-button {
  background-color: #f05623;
  border-color: #f05623;
  font-size: 16px;
  border-radius: 3px;
  white-space: initial;
  height: 43px;
  line-height: 30px;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid #7c2508;
  color: white;
}

.booking-button:hover {
  color: white;
  background-color: #f05623;
  opacity: 0.9;
}

.book-your-trip-section {
  background-color: white;
  padding: 20px;
}

.product-section h2 {
    font-size: 22px;
    color: #444;
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7aafb7;
}
