/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 *

 .banner {
   color: white;
   text-align: center;
   height: 65vh;
   /* if you have a 70px navbar => height: calc(100vh - 70px); */
   background-size: cover !important;
   background-position: center center ;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }
 .banner h1 {
   font-size: 50px;
   font-weight: bold;
   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
 }
 .banner p {
   font-size: 20px;
   font-weight: lighter;
   color: rgba(255, 255, 255, 0.7);
   margin-bottom: 20px;
 }

 .banner-content{
    margin-top: 200px;
 }


.searchbar-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding:30px;

}


.card-grid-wraper {
  background-color: #F5F5F5;
}

 #search-button{
  width: 200px;
 }

 .card {
  border-radius: 4px;
  box-shadow: 1px 1px 2px #B3B3B3;
  background-color: white;
 }

 .card-image{
  background-size: cover !important;
  height:190px;
}

.grid-header{
  text-align: center;
  margin-bottom: 40px;
}


