.geo-search-form {
  background-color: white;
  border-radius: 4px;
  color: #7AAFB7;
  text-align: center;
  position: fixed;
  right: 80px;
  top: 164px;
}



#map {
  margin-top: 30px;
}

.search_form .btn-danger {
  margin-top: 10px;
  width: 100%;
}

.checkbock-grid {
  margin-top: 10px;
  display: flex;
  float: left;
  width: 100%;
}

.checkbock-grid .col-xs-6 {
text-align: left;
}


.slider {
  margin-bottom: 20px;
}
