.booking-row {
  padding: 15px 5px;
  border-top: 1px solid;
  margin: 0px 30px;
}

.booking-detail {
  background: white;
  margin: 30px 0px;
}

.profile-picture {
  padding: 20px 0px;
  margin-top: -3
}

.padded-show {
  padding: 15px 0px;
}

.camping-car-picture {
  background-size: cover !important;
  width: 100%;
}
